#date-picker, #conf-picker {
    color: var(--dark-color);
    font-family: "Farro", sans-serif;

    border: 2px solid var(--dark-color);
    border-radius: 5px;
}

.layout-toggle {
    width: 120px;
    height: 45px;

    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 2px solid var(--dark-color);
    border-radius: 10px;

    align-content: center;

    cursor: pointer;
}

#toggle-three-col {
    border-radius: 5px 0 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-one-col {
    border-radius: 0 5px 5px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-active {
    background-color: var(--dark-color);
}

.toggle-active svg {
    fill: white;
}

.container {
    --content-width: min(100vw, 1080px);
    --block-size: 360px;
    --scoreboard-cols: max(1, round(down, var(--content-width) / var(--block-size)), 1);

    width: min(100%, calc(var(--block-size) * var(--scoreboard-cols)));

    display: grid;
    justify-items: center;

    margin-top: 15px;
}

.three-column {
    grid-template-columns: repeat(var(--scoreboard-cols), 1fr);
}

.one-column {
    grid-template-columns: 1fr;
}

.scoreboard-block {
    background-color: white;

    height: calc((2/3 * 0.94) * min(100vw, var(--block-size)));

    border: min(0.5vw, 2px) solid var(--dark-color);
    border-radius: min(5vw, 20px);

    display: flex;
    flex-direction: column;
}

.small-block {
    width: calc(0.9 * min(100vw, var(--block-size)));

    margin: 2%;

    padding-left: 3%;
    padding-right: 3%;
}

.wide-block {
    width: calc(2.9 * min(100vw, var(--block-size)));

    margin: calc(2% / 3);

    padding-left: 1%;
    padding-right: 1%;

}

.scoreboard-header {
    padding-top: 2%;
    padding-bottom: 2%;

    width: 100%;
    height: 8%;

    display: flex;
    align-items: center;
}

.scoreboard-row {
    height: 24%;

    display: flex;
    align-items: center;

    border-top: 1px solid var(--dark-color);
}

.scoreboard-status {
    width: 69%;

    font-size: 1.2em;
    text-align: left;
}

.scoreboard-logo {
    height: 100%;
    width: 16%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard-logo img {
    max-width: 80%;
    max-height: 80%;

    object-fit: contain;
}

.scoreboard-team {
    width: 48%;
    text-align: left;
}

.scoreboard-team p {
    font-weight: normal;
    font-size: 0.6em;

    margin: 0;
}

.scoreboard-total {
    width: 10%;

    font-size: 1.2em;
}

.scoreboard-half {
    width: 7%;

    font-size: 0.8em;
}

.winner .scoreboard-team, .winner .scoreboard-total {
    font-weight: bold;
}

.winner-marker {
    width: 5%;
}

.key-players {
    height: 36%;

    padding-top: 2%;
    padding-bottom: 2%;

    display: grid;
    grid-template-rows: 1fr 1fr;

    align-items: center;

    overflow: auto;

    border-top: 1px solid var(--dark-color);
}

.key-row {
    height: 50%;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.key-team {
    width: 15%;

    text-align: left;
    font-weight: bold;
}

.key-player {
    width: 20%;

    text-align: left;
}

.key-stats {
    width: 65%;

    font-size: 0.8em;
    text-align: right;
}