{% extends 'base.html' %}
{% block content %}

<h1>Scores</h1>
<h3>{{ data.day_string }}</h3>

<form onsubmit="scoresRedirect()" method="POST">
    <label for="date-picker">Date:</label>
    <input id="date-picker" type="date" value="{{ data.date }}"><br>

    <label for="conf-picker">Conf:</label>
    <select id="conf-picker" value="{{ data.conf }}">
        <option value="all">Division I</option>
        {% for conf in data.confs_list %}
            <option value="{{ conf }}" {{ 'selected' if data.conf==conf else "" }}>{{ conf }}</option>
        {% endfor %}
    </select><br>
    <input id="date-submit" type="submit" value="Go">
</form>

{% if data.scores | length > 0 %}
    <div class="container">
        {% for game in data.scores %}
            <a class="scoreboard-block-small" href="/games/{{ game.id }}">
                <div class="scoreboard-row" style="height:10%; padding-top:4%;">
                    <div class="scoreboard-logo"></div>
                    <div class="scoreboard-team"></div>
                    <div class="scoreboard-total-score" style="font-size:inherit">T</div>

                    <div class="scoreboard-half-score">1H</div>
                    <div class="scoreboard-half-score">2H</div>
                    {% if game.overtimes > 0 %}
                        <div class="scoreboard-half-score">OT</div>
                    {% endif %}
                </div>
                <div class="scoreboard-row">
                    <div class="scoreboard-logo">
                        <img src="/static/logos/{{ game.away_code }}.png">
                    </div>
                    <div class="scoreboard-team">{{ game.away_team }}</div>
                    <div class="scoreboard-total-score">{{ game.away_score }}</div>

                    <div class="scoreboard-half-score">{{ game.away_score_1h }}</div>
                    <div class="scoreboard-half-score">{{ game.away_score_2h }}</div>
                    {% if game.overtimes > 0 %}
                        <div class="scoreboard-half-score">{{ game.away_score_ot }}</div>
                    {% endif %}
                </div>

                <div class="scoreboard-row">
                    <div class="scoreboard-logo">
                        <img src="/static/logos/{{ game.home_code }}.png">
                    </div>
                    <div class="scoreboard-team">{{ game.home_team }}</div>
                    <div class="scoreboard-total-score">{{ game.home_score }}</div>

                    <div class="scoreboard-half-score">{{ game.home_score_1h }}</div>
                    <div class="scoreboard-half-score">{{ game.home_score_2h }}</div>
                    {% if game.overtimes > 0 %}
                        <div class="scoreboard-half-score">{{ game.home_score_ot }}</div>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <h3>No games found.</h3>
{% endif %}

<script src="/static/scripts/scores.js"></script>

{% endblock %}