{% extends 'base.html' %}
{% block content %}

<h1>Standings</h1>

{% for conf in data %}

    <h2>{{ conf }}</h2>

    <table>
        <tr>
            <th></th>
            <th colspan="3">Conference</th>
            <th colspan="3">Season</th>
        </tr>
        <tr>
            <th>Team</th>

            <th>W</th>
            <th>L</th>
            <th>%</th>

            <th>W</th>
            <th>L</th>
            <th>%</th>
        </tr>
        {% for row in data[conf] %}
            <tr>
                <td>{{ row.team }}</td>

                <td>{{ row.conf_wins }}</td>
                <td>{{ row.conf_losses }}</td>
                <td>{{ row.conf_pct }}</td>

                <td>{{ row.season_wins }}</td>
                <td>{{ row.season_losses }}</td>
                <td>{{ row.season_pct }}</td>
            </tr>
        {% endfor %}
    </table>

{% endfor %}

{% endblock %}