{% extends 'base.html' %}
{% block content %}

<h1>Teams</h1>

{% if not data.list %}
    <table>
        <tr>
            <td>{{ data.name }}</td>
            <td><img src="/static/logos/{{ data.code }}.png" style="width: 50px; height: 50px; object-fit: contain;"></td>
        </tr>
    </table>
{% else %}
    <table>
        <tr>
            <th>Team</th>
            <th>Code</th>
            <th>Logo</th>
        </tr>
        {% for team in data.teams %}
            <tr>
                <td><a href="/teams/?team={{ team.code }}">{{ team.name }}</a></td>
                <td>{{ team.code }}</td>
                <td><img src="/static/logos/{{ team.code }}.png" style="width: 50px; height: 50px; object-fit: contain;"></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}