body {
    background-color: #c7ffb1;
    color: #1d841d;

    height: 100%;

    margin: 0;

    font-family: "Farro", sans-serif;
    font-weight: 500;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 70%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.day-select {
    width: 50%;
    display: flex;
    justify-content: space-between;
}