<meta charset="UTF-8"/>
<title>Leyflet</title>

<link rel="preload" href="/static/fonts/farro-v15-latin-300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/farro-v15-latin-500.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/farro-v15-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/farro-v15-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/fonts/akaya-kanadaka-v18-latin-regular.woff2" as="font" type="font/woff2" crossorigin>

<link rel="stylesheet" href="/static/fonts.css">
<link rel="stylesheet" href="/static/base.css">
<link rel="stylesheet" href="/static/navbar.css">

<link rel="stylesheet" href="/static/pages/scores.css">

<link rel="icon" type="image/x-icon" href="/static/placeholder.ico">